
			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Request-appで申請してみよう</h3>
										<ul class="style2">
											<li><a href="#"></a></li>
											<li><a href="#">
											定期購入はActiveHachでカンタン選択<br>
											合計金額は自動計算でラクラク！<br>
											説明文を簡潔申請。足りない部分も写真で説明できます。</a></li>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>役職者が承認できます</h3>
										<ul class="style2">
											<li><a href="#"></a></li>
											<li><a href="#">
											役職者のみに承認・非承認ボタンを表示<br>
											承認前に申請を確認できます。<br>
											承認後は承認テーブルへ<br>
											後ほど確認もラクラク</a></li>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>説明や交渉もしてみよう</h3>
													<ul class="style2">
											<li><a href="#"></a></li>
											<li><a href="#">
											交渉チャットルームを用意<br>
											なぜ、どうして必要だったかしっかり上司に説明できます<br>
											テーブルはその後に削除可能<br>
											多対多のアソシエーション</a></li>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Contact Us</h3>
										<ul>
											<li><button class="fa fa-twitter"></button></li>
											<li><button class="fa fa-facebook"></button></li>
											<li><button class="fa fa-instagram"></button></li>
										</ul>
										<p>1234 Fictional Road<br />
										Nashville, TN 00000<br />
										(800) 555-0000</p>
									</section>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>All rights reserved <a href="#">&copy; Request-app</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>
	</body>
</html>